In [1]:
import pandas as pd
import pickle
import numpy as np

In [134]:
with open("final_jongro.pickle","rb") as fr:
    jongro = pickle.load(fr)
print(jongro.head())

        serial       date  pm10 pm10_class msg_10  pm25 pm25_class msg_25  \
0  V10O1610252 2018-04-01  76.9          1      0  48.4          2      0
1  V10O1610252 2018-04-02  79.3          1      0  34.7          1      0
2  V10O1610252 2018-04-03  89.6          2      0  40.1          2      0
3  V10O1610252 2018-04-04  19.2          0      0  17.5          1      0
4  V10O1610252 2018-04-05  15.0          0      0  11.7          0      0

  pm_class pm_class_info
0        2          pm25
1        1          pm10
2        2          pm10
3        1          pm25
4        0          pm10

In [135]:
jongstation = ['V10O1611255','V10O1611170','V10O1610545','V10O1611658','V10O1611639','V10O1611151','V10O1610252',
 'V10O1611634','V10O1611722','V10O1611173','V10O1611623','V10O1611251','V10O1611145','V10O1612113','V10O1611220',
 'V10O1611645','V10O1611750','V10O1611684','V10O1611698','V10O1610567','V10O1611887','V10O1610543',
 'V10O1610544','V10O1610546','V10O1612106','V10O1610542','V10O1611172','V10O1610540','V10O1611258','V10O1611289']



# date = pd.read_csv('./환경기상데이터/종로구/V10O1610252.csv', encoding = 'utf-8')['tm']
# jong = pd.DataFrame(date)
tm = pd.read_csv('./환경기상데이터/종로구/V10O1611170.csv', encoding = 'cp949')['tm']
tm = pd.DataFrame(tm)
# tm = tm.set_index(tm)
tm = tm.reset_index()
tm['tm'] = pd.to_datetime(tm.tm, format="%Y%m%d%H%M")
tm = tm.set_index(tm['tm'])
del tm['tm']

In [136]:
pm10 = tm
pm25 = tm

In [137]:
for j in jongstation:
    
    a = pd.read_csv('./환경기상데이터/종로구/'+j.strip()+'.csv', encoding = 'cp949')
    a['tm'] = pd.to_datetime(a.tm, format="%Y%m%d%H%M")
    temp =  pd.DataFrame(a[['pm10']])
    temp.columns = [j+'_pm10']
    temp = temp.set_index(a['tm'])
    pm10 =  pd.concat([pm10,temp], axis=1)
    temp =  pd.DataFrame(a[['pm25']])
    temp.columns = [j+'_pm25']
    temp = temp.set_index(a['tm'])
    pm25 =  pd.concat([pm25,temp], axis=1)
    print(j)
pm10 = pm10.replace(-999,np.NaN).replace(-9999,np.NaN).replace('NaN',np.NaN)
pm25 = pm25.replace(-999,np.NaN).replace(-9999,np.NaN).replace('NaN',np.NaN)

V10O1611255
V10O1611170
V10O1610545
V10O1611658
V10O1611639
V10O1611151
V10O1610252
V10O1611634
V10O1611722
V10O1611173
V10O1611623
V10O1611251
V10O1611145
V10O1612113
V10O1611220
V10O1611645
V10O1611750
V10O1611684
V10O1611698
V10O1610567
V10O1611887
V10O1610543
V10O1610544
V10O1610546
V10O1612106
V10O1610542
V10O1611172
V10O1610540
V10O1611258
V10O1611289

In [138]:
del pm10['index']
del pm25['index']

In [139]:
# 이상치 변환
pm25['V10O1611289_pm25'].loc['2018-08-29 07:38:00'] = round((pm25['V10O1611289_pm25']['2018-08-29 07:37:00']+pm25['V10O1611289_pm25']['2018-08-29 07:39:00'])/2)
pm25['V10O1611698_pm25'].loc['2018-04-03 19:38:00'] = round((pm25['V10O1611698_pm25'].loc['2018-04-03 19:37:00']+pm25['V10O1611698_pm25'].loc['2018-04-03 19:39:00'])/2)

In [140]:
# station 평균
pm10_mean = pm10.mean(axis=1)
pm25_mean = pm25.mean(axis=1)

In [141]:
# 일 평균
jong_day_pm10 = pm10_mean.groupby(tm.index.date).mean()
jong_day_pm25 = pm25_mean.groupby(tm.index.date).mean()

In [142]:
jong_day_pm10 = pd.DataFrame(jong_day_pm10)
jong_day_pm25 = pd.DataFrame(jong_day_pm25)
jong_day_pm10.columns = ['pm10_mean']
jong_day_pm25.columns = ['pm25_mean']

In [143]:
jong_day_pm10['pm10_class'] = 1
jong_day_pm10.loc[jong_day_pm10['pm10_mean']< 31.0 , 'pm10_class'] = 0                           # 좋음(0): 0 < pm10 < 30
jong_day_pm10.loc[(jong_day_pm10['pm10_mean']< 81.0) & (jong_day_pm10['pm10_mean'] >= 31.0), 'pm10_class'] = 1    # 보통(1) :31 < pm10 < 80
jong_day_pm10.loc[(jong_day_pm10['pm10_mean']< 151.0) & (jong_day_pm10['pm10_mean']>= 81.0) , 'pm10_class'] = 2   # 나쁨(2): 81 < pm10 < 150
jong_day_pm10.loc[jong_day_pm10['pm10_mean']>= 151.0 , 'pm10_class'] = 3                         # 매우나쁨(3): pm10 >= 151

In [144]:
jong_day_pm25['pm25_class'] = 1
jong_day_pm25.loc[jong_day_pm25['pm25_mean']< 16.0 , 'pm25_class'] = 0                           # 좋음(0): 0 < pm10 < 30
jong_day_pm25.loc[(jong_day_pm25['pm25_mean']< 36.0) & (jong_day_pm25['pm25_mean'] >= 16.0), 'pm25_class'] = 1    # 보통(1) :31 < pm10 < 80
jong_day_pm25.loc[(jong_day_pm25['pm25_mean']< 76.0) & (jong_day_pm25['pm25_mean']>= 36.0) , 'pm25_class'] = 2   # 나쁨(2): 81 < pm10 < 150
jong_day_pm25.loc[jong_day_pm25['pm25_mean']>= 76.0 , 'pm25_class'] = 3                         # 매우나쁨(3): pm10 >= 151

In [145]:
# jong_day_pm25.reset_index()
jong_totalmean = pd.concat([jong_day_pm10,jong_day_pm25], axis = 1)

In [146]:
jong_totalmean.loc[jong_totalmean['pm10_class']< jong_totalmean['pm25_class'] , 'pm_class'] = jong_totalmean['pm25_class']
jong_totalmean.loc[jong_totalmean['pm10_class']< jong_totalmean['pm25_class'] , 'pm_class_info'] ='pm25'

jong_totalmean.loc[jong_totalmean['pm10_class']>= jong_totalmean['pm25_class'] , 'pm_class'] = jong_totalmean['pm10_class']
jong_totalmean.loc[jong_totalmean['pm10_class']>= jong_totalmean['pm25_class'] , 'pm_class_info'] ='pm10'

jong_totalmean['pm10_class'] = jong_totalmean['pm10_class'].astype('int').astype('category')
jong_totalmean['pm25_class'] = jong_totalmean['pm25_class'].astype('int').astype('category')
jong_totalmean['pm_class'] = jong_totalmean['pm_class'].astype('int')
jong_totalmean['pm_class_info'] = jong_totalmean['pm_class_info'].astype('category')
jong_totalmean

,pm10_mean,pm10_class,pm25_mean,pm25_class,pm_class,pm_class_info
2018-04-01,63.716746,1,30.679210,1,1,pm10
2018-04-02,63.009583,1,24.875278,1,1,pm10
2018-04-03,61.819627,1,18.580544,1,1,pm10
2018-04-04,18.642072,0,9.441924,0,0,pm10
2018-04-05,11.689422,0,7.149783,0,0,pm10
2018-04-06,73.979994,1,18.425912,1,1,pm10
2018-04-07,44.598191,1,19.948118,1,1,pm10
2018-04-08,30.637063,0,14.931503,0,0,pm10
2018-04-09,42.743588,1,27.868171,1,1,pm10
2018-04-10,46.599632,1,22.260916,1,1,pm10
2018-04-11,67.591501,1,25.807112,1,1,pm10
2018-04-12,46.026364,1,16.166074,1,1,pm10
2018-04-13,35.222598,1,15.028042,0,1,pm10
2018-04-14,25.622788,0,13.481322,0,0,pm10
2018-04-15,62.274065,1,19.196729,1,1,pm10
2018-04-16,32.492474,1,19.557597,1,1,pm10
2018-04-17,54.834336,1,29.034281,1,1,pm10
2018-04-18,63.734219,1,32.058028,1,1,pm10
2018-04-19,73.966736,1,36.113264,2,2,pm25
2018-04-20,96.331583,2,51.114964,2,2,pm10
2018-04-21,70.490493,1,39.113913,2,2,pm25
2018-04-22,41.480103,1,22.390034,1,1,pm10
2018-04-23,14.805682,0,9.541540,0,0,pm10
2018-04-24,10.915870,0,5.571255,0,0,pm10
2018-04-25,30.790318,0,22.393218,1,1,pm25
2018-04-26,41.915287,1,28.929602,1,1,pm10
2018-04-27,52.803129,1,37.060536,2,2,pm25
2018-04-28,61.586065,1,39.539173,2,2,pm25
2018-04-29,59.935584,1,34.915254,1,1,pm10
2018-04-30,86.070034,2,59.669202,2,2,pm10
...,...,...,...,...,...,...
2019-03-02,170.577519,3,121.210679,3,3,pm10
2019-03-03,157.641617,3,110.621875,3,3,pm10
2019-03-04,261.492616,3,183.652120,3,3,pm10
2019-03-05,327.226011,3,237.204674,3,3,pm10
2019-03-06,187.470387,3,131.746999,3,3,pm10
2019-03-07,71.243304,1,50.137674,2,2,pm25
2019-03-08,61.970114,1,34.259400,1,1,pm10
2019-03-09,58.295613,1,37.021151,2,2,pm25
2019-03-10,67.144444,1,46.455407,2,2,pm25
2019-03-11,71.912357,1,44.753766,2,2,pm25
2019-03-12,89.949650,2,52.537550,2,2,pm10
2019-03-13,61.141716,1,17.854018,1,1,pm10
2019-03-14,60.241890,1,27.190823,1,1,pm10
2019-03-15,58.928745,1,32.388666,1,1,pm10
2019-03-16,42.368676,1,29.669593,1,1,pm10
2019-03-17,41.624777,1,23.693502,1,1,pm10
2019-03-18,37.302670,1,21.536812,1,1,pm10
2019-03-19,57.588095,1,34.710888,1,1,pm10
2019-03-20,81.056008,2,57.944597,2,2,pm10
2019-03-21,38.825815,1,28.741970,1,1,pm10
2019-03-22,37.889980,1,20.536533,1,1,pm10
2019-03-23,26.392460,0,16.243552,1,1,pm25
2019-03-24,31.448202,1,14.519785,0,1,pm10
2019-03-25,50.286293,1,27.800193,1,1,pm10
2019-03-26,68.549901,1,38.812252,2,2,pm25
2019-03-27,91.071280,2,55.019568,2,2,pm10
2019-03-28,80.802207,1,47.208209,2,2,pm25
2019-03-29,39.493552,1,18.346478,1,1,pm10
2019-03-30,38.877902,1,23.849355,1,1,pm10
2019-03-31,40.163993,1,24.377451,1,1,pm10

In [147]:
import pickle
with open("jong_totalmean","wb") as fr:
    pickle.dump(jong_totalmean,fr)

In [110]:
with open("final_nowon.pickle","rb") as fr:
    nowon = pickle.load(fr)
print(nowon.head())

        serial       date   pm10 pm10_class msg_10  pm25 pm25_class msg_25  \
0  V10O1610102 2018-05-07   95.6          2      0  43.5          2      0
1  V10O1610102 2018-05-10  102.3          2      0  66.5          2      0
2  V10O1610102 2018-05-11  158.5          3      0  93.7          3      1
3  V10O1610102 2018-05-12   89.0          2      0  52.9          2      0
4  V10O1610102 2018-05-13   54.3          1      0  43.6          2      0

  pm_class pm_class_info
0        2          pm10
1        2          pm10
2        3          pm10
3        2          pm10
4        2          pm25

In [86]:
leng = [ (i,len(nowon.loc[nowon['serial']==i])) for i in list(set(nowon['serial']))]
leng

In [111]:
tm = nowon.loc[nowon['serial']=='V10O1611150']['date']
tm = pd.DataFrame(tm)
tm = tm.reset_index()
# tm['tm'] = pd.to_datetime(tm.tm, format="%Y%m%d%H%M")
tm = tm.set_index(tm['date'])
del tm['date']
pm10 = tm
pm25 = tm

In [112]:
for j in list(set(nowon['serial'])):
    
    a = nowon.loc[nowon['serial']==j]
#     a['tm'] = pd.to_datetime(a.tm, format="%Y%m%d%H%M")
    temp =  pd.DataFrame(a[['pm10']])
    temp.columns = [j+'_pm10']
    temp = temp.set_index(a['date'])
    pm10 =  pd.concat([pm10,temp], axis=1)
    temp =  pd.DataFrame(a[['pm25']])
    temp.columns = [j+'_pm25']
    temp = temp.set_index(a['date'])
    pm25 =  pd.concat([pm25,temp], axis=1)
    print(j)
pm10 = pm10.replace(-999,np.NaN).replace(-9999,np.NaN).replace('NaN',np.NaN)
pm25 = pm25.replace(-999,np.NaN).replace(-9999,np.NaN).replace('NaN',np.NaN)

V10O1610293
V10O1610376
V10O1610102
V10O1610630
V10O1611097
V10O1610642
V10O1610610
V10O1611104
V10O1611150
V10O1610629
V10O1610643
V10O1612126
V10O1611229
V10O1610616
V10O1610356
V10O1610200
V10O1611102
V10O1611100
V10O1610297
V10O1610351
V10O1610312
V10O1611652

In [124]:
del pm10['index']
del pm25['index']

In [125]:
nowon_day_pm10 = pd.DataFrame(pm10.mean(axis=1))
nowon_day_pm25 = pd.DataFrame(pm25.mean(axis=1))
nowon_day_pm10.columns = ['pm10_mean']
nowon_day_pm25.columns = ['pm25_mean']

In [126]:
nowon_day_pm10['pm10_class'] = 1
nowon_day_pm10.loc[nowon_day_pm10['pm10_mean']< 31.0 , 'pm10_class'] = 0                           # 좋음(0): 0 < pm10 < 30
nowon_day_pm10.loc[(nowon_day_pm10['pm10_mean']< 81.0) & (nowon_day_pm10['pm10_mean'] >= 31.0), 'pm10_class'] = 1    # 보통(1) :31 < pm10 < 80
nowon_day_pm10.loc[(nowon_day_pm10['pm10_mean']< 151.0) & (nowon_day_pm10['pm10_mean']>= 81.0) , 'pm10_class'] = 2   # 나쁨(2): 81 < pm10 < 150
nowon_day_pm10.loc[nowon_day_pm10['pm10_mean']>= 151.0 , 'pm10_class'] = 3                         # 매우나쁨(3): pm10 >= 151

In [127]:
nowon_day_pm25['pm25_class'] = 1
nowon_day_pm25.loc[nowon_day_pm25['pm25_mean']< 16.0 , 'pm25_class'] = 0                           # 좋음(0): 0 < pm10 < 30
nowon_day_pm25.loc[(nowon_day_pm25['pm25_mean']< 36.0) & (nowon_day_pm25['pm25_mean'] >= 16.0), 'pm25_class'] = 1    # 보통(1) :31 < pm10 < 80
nowon_day_pm25.loc[(nowon_day_pm25['pm25_mean']< 76.0) & (nowon_day_pm25['pm25_mean']>= 36.0) , 'pm25_class'] = 2   # 나쁨(2): 81 < pm10 < 150
nowon_day_pm25.loc[nowon_day_pm25['pm25_mean']>= 76.0 , 'pm25_class'] = 3                         # 매우나쁨(3): pm10 >= 151

In [128]:
nowon_totalmean = pd.concat([nowon_day_pm10,nowon_day_pm25], axis = 1)

In [130]:
nowon_totalmean.head()

            pm10_mean  pm10_class  pm25_mean  pm25_class
date
2018-04-01     84.090           2     50.175           2
2018-04-02     81.275           2     36.230           2
2018-04-03     93.490           2     41.215           2
2018-04-04     14.350           0      7.890           0
2018-04-05     33.925           1      8.250           0

In [153]:
nowon_totalmean.loc[nowon_totalmean['pm10_class']< nowon_totalmean['pm25_class'] , 'pm_class'] = nowon_totalmean['pm25_class']
nowon_totalmean.loc[nowon_totalmean['pm10_class']< nowon_totalmean['pm25_class'] , 'pm_class_info'] ='pm25'

nowon_totalmean.loc[nowon_totalmean['pm10_class']>= nowon_totalmean['pm25_class'] , 'pm_class'] = nowon_totalmean['pm10_class']
nowon_totalmean.loc[nowon_totalmean['pm10_class']>= nowon_totalmean['pm25_class'] , 'pm_class_info'] ='pm10'

nowon_totalmean['pm10_class'] = nowon_totalmean['pm10_class'].astype('int').astype('category')
nowon_totalmean['pm25_class'] = nowon_totalmean['pm25_class'].astype('int').astype('category')
nowon_totalmean['pm_class'] = nowon_totalmean['pm_class'].astype('int')
nowon_totalmean['pm_class_info'] = nowon_totalmean['pm_class_info'].astype('category')
nowon_totalmean

,pm10_mean,pm10_class,pm25_mean,pm25_class,pm_class,pm_class_info
date,,,,,,
2018-04-01,84.090000,2,50.175000,2,2,pm10
2018-04-02,81.275000,2,36.230000,2,2,pm10
2018-04-03,93.490000,2,41.215000,2,2,pm10
2018-04-04,14.350000,0,7.890000,0,0,pm10
2018-04-05,33.925000,1,8.250000,0,1,pm10
2018-04-06,218.721053,3,86.163158,3,3,pm10
2018-04-07,64.031579,1,35.394737,1,1,pm10
2018-04-08,43.021053,1,22.642105,1,1,pm10
2018-04-09,65.330000,1,43.040000,2,2,pm25
2018-04-10,72.889474,1,39.178947,2,2,pm25
2018-04-11,109.036842,2,53.036842,2,2,pm10
2018-04-12,67.226316,1,23.652632,1,1,pm10
2018-04-13,40.447368,1,18.489474,1,1,pm10
2018-04-14,39.273684,1,24.652632,1,1,pm10
2018-04-15,169.215789,3,32.921053,1,3,pm10
2018-04-16,40.489474,1,28.852632,1,1,pm10
2018-04-17,100.994737,2,43.015789,2,2,pm10
2018-04-18,113.563158,2,50.442105,2,2,pm10
2018-04-19,119.436842,2,63.394737,2,2,pm10
2018-04-20,150.890000,2,82.190000,3,3,pm25
2018-04-21,136.257895,2,96.705263,3,3,pm25
2018-04-22,52.731579,1,35.226316,1,1,pm10
2018-04-23,19.205000,0,11.960000,0,0,pm10
2018-04-24,24.680000,0,16.305000,1,1,pm25
2018-04-25,42.485000,1,31.395000,1,1,pm10
2018-04-26,70.330000,1,55.435000,2,2,pm25
2018-04-27,117.610000,2,80.965000,3,3,pm25
2018-04-28,97.668421,2,76.321053,3,3,pm25
2018-04-29,87.984211,2,70.100000,2,2,pm10
2018-04-30,119.075000,2,90.610000,3,3,pm25
...,...,...,...,...,...,...
2019-03-02,249.711111,3,189.138889,3,3,pm10
2019-03-03,256.427778,3,186.700000,3,3,pm10
2019-03-04,334.961111,3,240.438889,3,3,pm10
2019-03-05,376.383333,3,269.733333,3,3,pm10
2019-03-06,265.872222,3,188.011111,3,3,pm10
2019-03-07,85.833333,2,68.911111,2,2,pm10
2019-03-08,80.211111,1,44.666667,2,2,pm25
2019-03-09,66.461111,1,44.555556,2,2,pm25
2019-03-10,88.594444,2,61.488889,2,2,pm10
2019-03-11,122.336842,2,82.789474,3,3,pm25
2019-03-12,154.105556,3,119.188889,3,3,pm10
2019-03-13,64.711111,1,30.766667,1,1,pm10
2019-03-14,81.122222,2,42.883333,2,2,pm10
2019-03-15,97.994737,2,64.068421,2,2,pm10
2019-03-16,77.978947,1,57.426316,2,2,pm25
2019-03-17,63.378947,1,42.694737,2,2,pm25
2019-03-18,55.984211,1,34.710526,1,1,pm10
2019-03-19,115.911111,2,78.250000,3,3,pm25
2019-03-20,140.466667,2,100.650000,3,3,pm25
2019-03-21,62.083333,1,47.972222,2,2,pm25
2019-03-22,56.850000,1,33.616667,1,1,pm10
2019-03-23,46.094444,1,28.805556,1,1,pm10
2019-03-24,36.250000,1,23.627778,1,1,pm10
2019-03-25,76.466667,1,46.944444,2,2,pm25
2019-03-26,91.761111,2,59.066667,2,2,pm10
2019-03-27,123.952632,2,81.742105,3,3,pm25
2019-03-28,111.738889,2,71.961111,2,2,pm10
2019-03-29,48.033333,1,24.900000,1,1,pm10
2019-03-30,59.066667,1,47.600000,2,2,pm25
2019-03-31,66.861111,1,42.800000,2,2,pm25

In [154]:
with open("nowon_totalmean","wb") as fr:
    pickle.dump(nowon_totalmean,fr)