In [81]:
import pandas as pd

In [82]:
nowon= pd.read_pickle("./nowon_365.pickle")
jongro = pd.read_pickle("./jongro_365.pickle")

In [83]:
# 종로구, 노원구 전체
print("nowon:{} + jongro:{} = {}".format(len(nowon),len(jongro),
                                         len(nowon)+ len(jongro)))
gutotal_365 = pd.concat([nowon, jongro])
gutotal_365

nowon:4745 + jongro:5475 = 10220

,행정동,date,pm10,pm25,msg,pm10_class,pm25_class,pm_class,pm_class_info
0,공릉1동,2018-04-01,74.1,37.6,0,1,2,2,pm25
1,공릉1동,2018-04-02,71.7,28.7,0,1,1,1,pm10
2,공릉1동,2018-04-03,77.2,39.9,0,1,2,2,pm25
3,공릉1동,2018-04-04,10.5,4.9,0,0,0,0,pm10
4,공릉1동,2018-04-05,8.0,6.6,0,0,0,0,pm10
5,공릉1동,2018-04-06,177.4,44.7,1,3,2,3,pm10
6,공릉1동,2018-04-07,52.3,26.7,0,1,1,1,pm10
7,공릉1동,2018-04-08,36.4,20.2,0,1,1,1,pm10
8,공릉1동,2018-04-09,85.8,49.2,0,2,2,2,pm10
9,공릉1동,2018-04-10,61.6,34.6,0,1,1,1,pm10
10,공릉1동,2018-04-11,84.3,39.2,1,2,2,2,pm10
11,공릉1동,2018-04-12,57.4,21.0,0,1,1,1,pm10
12,공릉1동,2018-04-13,31.8,13.8,0,1,0,1,pm10
13,공릉1동,2018-04-14,26.0,19.0,0,0,1,1,pm25
14,공릉1동,2018-04-15,153.7,29.8,1,3,1,3,pm10
15,공릉1동,2018-04-16,28.4,17.8,0,0,1,1,pm25
16,공릉1동,2018-04-17,81.6,36.0,0,2,2,2,pm10
17,공릉1동,2018-04-18,81.2,29.1,1,2,1,2,pm10
18,공릉1동,2018-04-19,92.2,42.8,1,2,2,2,pm10
19,공릉1동,2018-04-20,117.8,64.6,1,2,2,2,pm10
20,공릉1동,2018-04-21,109.8,70.3,1,2,2,2,pm10
21,공릉1동,2018-04-22,39.4,21.0,0,1,1,1,pm10
22,공릉1동,2018-04-23,14.0,6.0,0,0,0,0,pm10
23,공릉1동,2018-04-24,19.0,13.2,0,0,0,0,pm10
24,공릉1동,2018-04-25,32.6,24.8,0,1,1,1,pm10
25,공릉1동,2018-04-26,61.0,34.9,1,1,1,1,pm10
26,공릉1동,2018-04-27,77.4,55.6,1,1,2,2,pm25
27,공릉1동,2018-04-28,85.6,65.0,1,2,2,2,pm10
28,공릉1동,2018-04-29,75.2,54.6,1,1,2,2,pm25
29,공릉1동,2018-04-30,95.0,71.8,1,2,2,2,pm10
...,...,...,...,...,...,...,...,...,...
5445,혜화동,2019-03-02,196.8,141.6,1,3,3,3,pm10
5446,혜화동,2019-03-03,262.3,185.0,1,3,3,3,pm10
5447,혜화동,2019-03-04,405.6,284.3,1,3,3,3,pm10
5448,혜화동,2019-03-05,393.0,288.8,1,3,3,3,pm10
5449,혜화동,2019-03-06,228.1,160.9,1,3,3,3,pm10
5450,혜화동,2019-03-07,113.8,86.4,0,2,3,3,pm25
5451,혜화동,2019-03-08,95.9,55.8,0,2,2,2,pm10
5452,혜화동,2019-03-09,98.6,65.4,0,2,2,2,pm10
5453,혜화동,2019-03-10,141.4,87.0,0,2,3,3,pm25
5454,혜화동,2019-03-11,127.4,84.4,0,2,3,3,pm25
5455,혜화동,2019-03-12,133.9,98.6,1,2,3,3,pm25
5456,혜화동,2019-03-13,96.9,29.7,0,2,1,2,pm10
5457,혜화동,2019-03-14,101.7,51.2,0,2,2,2,pm10
5458,혜화동,2019-03-15,96.8,57.4,0,2,2,2,pm10
5459,혜화동,2019-03-16,71.2,51.2,0,1,2,2,pm25
5460,혜화동,2019-03-17,65.7,39.2,0,1,2,2,pm25
5461,혜화동,2019-03-18,63.1,35.6,0,1,1,1,pm10
5462,혜화동,2019-03-19,107.9,69.3,0,2,2,2,pm10
5463,혜화동,2019-03-20,127.4,93.7,0,2,3,3,pm25
5464,혜화동,2019-03-21,73.6,57.4,0,1,2,2,pm25
5465,혜화동,2019-03-22,68.7,33.4,0,1,1,1,pm10
5466,혜화동,2019-03-23,42.2,26.8,0,1,1,1,pm10
5467,혜화동,2019-03-24,51.4,23.8,0,1,1,1,pm10
5468,혜화동,2019-03-25,82.9,45.6,0,2,2,2,pm10
5469,혜화동,2019-03-26,112.8,64.8,0,2,2,2,pm10
5470,혜화동,2019-03-27,118.4,71.9,0,2,2,2,pm10
5471,혜화동,2019-03-28,112.9,67.6,0,2,2,2,pm10
5472,혜화동,2019-03-29,55.8,26.4,0,1,1,1,pm10
5473,혜화동,2019-03-30,62.0,39.0,0,1,2,2,pm25
5474,혜화동,2019-03-31,67.8,47.5,0,1,2,2,pm25

In [84]:
gutotal_365.isna().any()

행정동              False
date             False
pm10             False
pm25             False
msg              False
pm10_class       False
pm25_class       False
pm_class         False
pm_class_info    False
dtype: bool

### 노원구, 종로구 합친 pickle 파일 저장 
gutotal_365.to_pickle("./gutotal_365.pickle")

In [86]:
gutotal_365 = gutotal_365.set_index(["행정동",'date'])
gutotal_365

                  pm10  pm25 msg pm10_class pm25_class pm_class pm_class_info
행정동  date
공릉1동 2018-04-01   74.1  37.6   0          1          2        2          pm25
     2018-04-02   71.7  28.7   0          1          1        1          pm10
     2018-04-03   77.2  39.9   0          1          2        2          pm25
     2018-04-04   10.5   4.9   0          0          0        0          pm10
     2018-04-05    8.0   6.6   0          0          0        0          pm10
...                ...   ...  ..        ...        ...      ...           ...
혜화동  2019-03-27  118.4  71.9   0          2          2        2          pm10
     2019-03-28  112.9  67.6   0          2          2        2          pm10
     2019-03-29   55.8  26.4   0          1          1        1          pm10
     2019-03-30   62.0  39.0   0          1          2        2          pm25
     2019-03-31   67.8  47.5   0          1          2        2          pm25

[10220 rows x 7 columns]