In [42]:
import seaborn as sns    
%matplotlib inline  
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt

In [2]:
from sklearn.cluster import KMeans
model_kpp = KMeans(n_clusters=3, init="k-means++")

In [8]:
retail_data = pd.read_pickle('../../data/local_data/pkls/cat_cost.pickle')
retail_data.columns

Index(['ADMD_NM', 'date', 'ANTC_ITEM_LCLS_NM', 'percentage', 'Total Cost',
       'cat_cost'],
      dtype='object')

In [19]:
total_cost = retail_data.groupby(['ADMD_NM', 'date', 'ANTC_ITEM_LCLS_NM'])[['Total Cost']].mean().unstack(-1).groupby('ADMD_NM').mean()

In [16]:
cat_cost = retail_data.groupby(['ADMD_NM', 'date', 'ANTC_ITEM_LCLS_NM'])[['cat_cost']].mean().unstack(-1).groupby('ADMD_NM').mean()

In [22]:
x = pd.concat([cat_cost, total_cost],axis=1)

In [23]:
scaler=StandardScaler()
scaler.fit(x)
x1=scaler.transform(x)
model_kpp.fit(x1)
model_kpp.cluster_centers_
x=pd.concat([x.reset_index(),pd.Series(model_kpp.labels_)],axis=1)

In [27]:
x.columns

Index([          ('ADMD_NM', ''),        ('cat_cost', '간식'),
            ('cat_cost', '마실거리'),      ('cat_cost', '사회활동'),
              ('cat_cost', '식사'),     ('cat_cost', '임신/육아'),
         ('cat_cost', '취미&여가활동'),     ('cat_cost', '헬스&뷰티'),
            ('cat_cost', '홈&리빙'),      ('Total Cost', '간식'),
          ('Total Cost', '마실거리'),    ('Total Cost', '사회활동'),
            ('Total Cost', '식사'),   ('Total Cost', '임신/육아'),
       ('Total Cost', '취미&여가활동'),   ('Total Cost', '헬스&뷰티'),
          ('Total Cost', '홈&리빙'),                         0],
      dtype='object')

In [28]:
x.columns=[('ADMD_NM', ''),        ('cat_cost', '간식'),
            ('cat_cost', '마실거리'),      ('cat_cost', '사회활동'),
              ('cat_cost', '식사'),     ('cat_cost', '임신/육아'),
         ('cat_cost', '취미&여가활동'),     ('cat_cost', '헬스&뷰티'),
            ('cat_cost', '홈&리빙'),      ('Total Cost', '간식'),
          ('Total Cost', '마실거리'),    ('Total Cost', '사회활동'),
            ('Total Cost', '식사'),   ('Total Cost', '임신/육아'),
       ('Total Cost', '취미&여가활동'),   ('Total Cost', '헬스&뷰티'),
          ('Total Cost', '홈&리빙'),   'cluster']

In [40]:
x.groupby(x['cluster']).sum()

,"(cat_cost, 간식)","(cat_cost, 마실거리)","(cat_cost, 사회활동)","(cat_cost, 식사)","(cat_cost, 임신/육아)","(cat_cost, 취미&여가활동)","(cat_cost, 헬스&뷰티)","(cat_cost, 홈&리빙)","(Total Cost, 간식)","(Total Cost, 마실거리)","(Total Cost, 사회활동)","(Total Cost, 식사)","(Total Cost, 임신/육아)","(Total Cost, 취미&여가활동)","(Total Cost, 헬스&뷰티)","(Total Cost, 홈&리빙)"
cluster,,,,,,,,,,,,,,,,
0,3.786820e+06,6.562533e+06,154672.478471,5.705663e+06,70427.149507,110443.646929,864531.954688,494191.293148,1.774966e+07,1.774966e+07,1.774966e+07,1.774966e+07,1.774966e+07,1.774966e+07,1.774966e+07,1.774966e+07
1,8.400084e+05,1.431754e+06,45047.347592,1.151457e+06,7142.930323,21907.149548,287674.054216,131303.903093,3.916185e+06,3.916185e+06,3.916185e+06,3.916185e+06,3.916185e+06,3.916185e+06,3.916185e+06,3.916185e+06
2,3.778732e+06,6.372978e+06,204667.840510,5.997149e+06,68596.119759,115968.937973,997287.087151,513341.031482,1.804858e+07,1.804858e+07,1.804858e+07,1.804858e+07,1.804858e+07,1.804858e+07,1.804858e+07,1.804858e+07

In [38]:
x[x['cluster']==0].iloc[:, 0]

1        공릉1동
2        공릉2동
3         교남동
7         삼청동
8       상계10동
9        상계1동
11     상계3.4동
12       상계5동
13     상계6.7동
15       상계9동
18       월계1동
19       월계2동
20       월계3동
23    종로5.6가동
24       중계1동
26       중계4동
28       창신1동
30       창신3동
31      청운효자동
32        평창동
Name: (ADMD_NM, ), dtype: object

In [39]:
x[x['cluster']==1].iloc[:, 0]

4             무악동
22    종로1.2.3.4가동
Name: (ADMD_NM, ), dtype: object

In [37]:
x[x['cluster']==2].iloc[:, 0]

0        가회동
5        부암동
6        사직동
10      상계2동
14      상계8동
16      숭인1동
17      숭인2동
21       이화동
25    중계2.3동
27      중계본동
29      창신2동
33      하계1동
34      하계2동
35       혜화동
Name: (ADMD_NM, ), dtype: object

In [41]:
holiday2=['20180401','20180407','20180408','20180414','20180415','20180421','20180422','20180428','20180429','20180505',
          '20180506','20180512','20180513','20180519','20180520','20180521','20180522','20180526','20180527','20180602',
          '20180603','20180606','20180609','20180610','20180616','20180617','20180623','20180624','20180630','20180701',
          '20180707','20180708','20180714','20180715','20180721','20180722','20180728','20180729','20180804','20180805',
          '20180811','20180812','20180815','20180818','20180819','20180825','20180826','20180901','20180902','20180908',
          '20180909','20180915','20180916','20180922','20180923','20180924','20180925','20180926','20180927','20180928',
          '20180929','20180930','20181003','20181006','20181007','20181009','20181013','20181014','20181020','20181021',
          '20181027','20181028','20181103','20181104','20181110','20181111','20181117','20181118','20181124','20181125',
          '20181201','20181202','20181208','20181209','20181215','20181216','20181222','20181223','20181224','20181225',
          '20181229','20181230','20181231','20190101','20190105','20190106','20190112','20190113','20190119','20190120',
          '20190126','20190127','20190202','20190203','20190204','20190205','20190206','20190207','20190208','20190209',
          '20190210','20190216','20190217','20190223','20190224','20190301','20190302','20190303','20190309','20190310',
          '20190316','20190317','20190323','20190324','20190330','20190331']
holiday_df=pd.to_datetime(pd.Series(holiday2))

In [ ]:
result_move=result_dust.merge(move_data,how='inner',left_on=['ADMD_NM','date'],right_on=['HDONG_NM','STD_YMD'])

In [45]:
plt.figure(figsize=(15,15))
sns.heatmap(data = total_cost[~total_cost.date.isin(holiday_df)].corr(method = 'pearson'), annot=True, 
fmt = '.2f', linewidths=.5, cmap=sns.diverging_palette(20, 220, n=200),square=True)

AttributeError: 'DataFrame' object has no attribute 'date'

In [46]:
total_cost = retail_data.groupby(['ADMD_NM', 'date', 'ANTC_ITEM_LCLS_NM'])[['Total Cost']].mean()

In [48]:
total_cost = total_cost.reset_index()

In [49]:
total_cost

       ADMD_NM      date ANTC_ITEM_LCLS_NM  Total Cost
0          가회동  20180401                간식      759330
1          가회동  20180401              마실거리      759330
2          가회동  20180401              사회활동      759330
3          가회동  20180401                식사      759330
4          가회동  20180401             임신/육아      759330
5          가회동  20180401           취미&여가활동      759330
6          가회동  20180401             헬스&뷰티      759330
7          가회동  20180401              홈&리빙      759330
8          가회동  20180402                간식      876662
9          가회동  20180402              마실거리      876662
10         가회동  20180402              사회활동      876662
11         가회동  20180402                식사      876662
12         가회동  20180402             임신/육아      876662
13         가회동  20180402           취미&여가활동      876662
14         가회동  20180402             헬스&뷰티      876662
15         가회동  20180402              홈&리빙      876662
16         가회동  20180403                간식     1006035
17         가회동  20180403              마실거리     1006035
18         가회동  20180403              사회활동     1006035
19         가회동  20180403                식사     1006035
20         가회동  20180403             임신/육아     1006035
21         가회동  20180403           취미&여가활동     1006035
22         가회동  20180403             헬스&뷰티     1006035
23         가회동  20180403              홈&리빙     1006035
24         가회동  20180404                간식     1085985
25         가회동  20180404              마실거리     1085985
26         가회동  20180404              사회활동     1085985
27         가회동  20180404                식사     1085985
28         가회동  20180404             임신/육아     1085985
29         가회동  20180404           취미&여가활동     1085985
...        ...       ...               ...         ...
105090     혜화동  20190328              사회활동     1059645
105091     혜화동  20190328                식사     1059645
105092     혜화동  20190328             임신/육아     1059645
105093     혜화동  20190328           취미&여가활동     1059645
105094     혜화동  20190328             헬스&뷰티     1059645
105095     혜화동  20190328              홈&리빙     1059645
105096     혜화동  20190329                간식     1062234
105097     혜화동  20190329              마실거리     1062234
105098     혜화동  20190329              사회활동     1062234
105099     혜화동  20190329                식사     1062234
105100     혜화동  20190329             임신/육아     1062234
105101     혜화동  20190329           취미&여가활동     1062234
105102     혜화동  20190329             헬스&뷰티     1062234
105103     혜화동  20190329              홈&리빙     1062234
105104     혜화동  20190330                간식     1148066
105105     혜화동  20190330              마실거리     1148066
105106     혜화동  20190330              사회활동     1148066
105107     혜화동  20190330                식사     1148066
105108     혜화동  20190330             임신/육아     1148066
105109     혜화동  20190330           취미&여가활동     1148066
105110     혜화동  20190330             헬스&뷰티     1148066
105111     혜화동  20190330              홈&리빙     1148066
105112     혜화동  20190331                간식     1019119
105113     혜화동  20190331              마실거리     1019119
105114     혜화동  20190331              사회활동     1019119
105115     혜화동  20190331                식사     1019119
105116     혜화동  20190331             임신/육아     1019119
105117     혜화동  20190331           취미&여가활동     1019119
105118     혜화동  20190331             헬스&뷰티     1019119
105119     혜화동  20190331              홈&리빙     1019119

[105120 rows x 4 columns]